.secondTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: var(--color_2);
  padding-top: 10px;
  margin: 20px auto;
  border-top : 2px solid white;
  width: 75%;
  i{
    margin-right: 10px ;
  }
}
.hard-skill{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.hard-skill-detail{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.skill-name{
  position: relative;
  color: var(--color_5);
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  span{
    padding: 20px;
  }

}
.progress {
  height: 10px;
  border-radius: 20px;
  margin-bottom: 20px;

}
.progress-bar {
  border-radius: 20px;
  transition: width 1s ease-in-out;
  background-color: var(--color_3);
  margin-left: -5px ;
  width: 0;
}

/*****************Responsive***********************/

@media (max-width: 768px ){

}
@media (max-width: 480px ){
  .hard-skill{
    flex-direction: column;
  }
  .hard-skill-detail{
    width: 90%;
    margin: auto;
  }
}






