<footer class=" text-center mt-5">
  <p class="mb-4">&copy; Created by Louis-philippe</p>
  <div class="row justify-content-center">
    <div class="col-auto">
      <a href="www.linkedin.com/in/louis-philippe-coronas-a90a6620b" target="_blank" class="text-light mx-2">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="mailto:mailto:louis.philippe.coronas@gmail.com"  class="text-light mx-2">
        <i class="far fa-envelope fa-2x"></i>
      </a>
      <a href="https://github.com/Louis-Philippe86/PorteFolio" target="_blank" class="text-light mx-2">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
  </div>


</footer>
