.sidebar {
  position: fixed;
  padding: 25px 10px 10px;
  top: 140px;
  left: 0;
  width: 300px;
  height: auto;
  font-size: 0.5rem;
  background-color: var(--color_6);
  color: var(--color_4);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-right: 3px solid var(--color_3);
  border-bottom: 3px solid var(--color_3);
  border-top: 3px solid var(--color_3);
  border-radius: 0 20px 20px 0;
  .iconify {
    margin-right: 10px;
    width: 2rem;
    height: 2rem;
    color: var(--color_4);
  }

}

.data {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 0.8rem;
  a{
    color: var(--color_4);
    cursor: pointer;
  }
  a:hover{
    color: var(--color_2);
  }
}

.iconify {
  margin-right: 10px;
  width: 3rem;
  height: 3rem;
  color: white;
}


@media (max-width: 768px ){
  .sidebar {
    width: 300px;
  }
}
@media (max-width: 480px ){
  .sidebar {
    width: 90vw;
    top: 80px;
    left: 0;
    .iconify{
      width: 1rem;
      height: 1rem;
    }
    a, span{
      font-size: 0.9rem;
    }
  }
}
