<div class="main-title">
  <h1>Atouts et compétences</h1>
</div>
<div class="pitchSection">
  <p>Dans cette section, je vous présente les différentes technologies que j'ai eu l'occasion d'utiliser au cours des divers projets que j'ai menés.</p>
  <ul>
    <li><span>Côté front :</span></li>
    <ul>
      <li>Je suis à l'aise avec les langages <span>HTML</span> et <span>CSS</span>, qui sont à la base de tout développement web.</li>
      <li>La maîtrise du <span>JavaScript</span> et de son cousin typé, <span>TypeScript</span>, fait également partie de mes compétences.</li>
    </ul>
    <li><span>Côté back :</span></li>
    <ul>
      <li>Le <span>Java</span> a été mon premier amour en développement, c'est le langage avec lequel j'ai fait mes débuts.</li>
      <li>J'ai également une grande aisance avec le <span>PHP</span>, le deuxième langage majeur sur lequel j'ai été formé.</li>
    </ul>
    <li>Je maîtrise les concepts fondamentaux de la Programmation Orientée Objet (<span>POO</span>) ainsi que le modèle architectural Modèle-Vue-Contrôleur (<span>MVC</span>).</li>
    <li>Les notions de <span>modularité</span>, de <span>factorisation</span>, des <span>bonnes pratiques</span> et de <span>simplicité</span> sont les principes qui guident chacune de mes réalisations.</li>
  </ul>

</div>
<div class="dividerTitle"></div>
<div class="dividerTitle w-25"></div>
<div *ngIf="isLoading">
  <app-loading/>
</div>
<div *ngIf="!isLoading">
  <!--section hardSkills-->
  <section class="hard-skills-section" >
    <div class="section-title">
      <h2>Technical Skills</h2>
      <i class="fa-solid fa-code fa-2x me-3 "></i>
    </div>
    <app-hard-skill
      [skillsList] = "languageSkills"
      [section]="{title : 'Langages', logo : 'fa-solid fa-globe fa-2x'}"
      />
    <app-hard-skill
      [skillsList] = "frameworkList"
      [section]="{title : 'Frameworks', logo : 'fa-solid fa-book-atlas fa-2x'}"
    />
    <app-hard-skill
      [skillsList] = "otherList"
      [section]="{title : 'Autres', logo : 'fa-solid fa-cubes fa-2x'}"
    />
    <!--section testLevel-->
    <div class="test-section">
      <div class="level-title">
        <i class="fa-solid fa-circle-question fa-2x"></i>
        <h2>Level</h2>
      </div>
    <!--jauge-->
      <div class="progress skill-bar">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuemin="0"
          aria-valuemax="100"
          [style.width.%]="levelChoices[index].purcent"> <!-- Initial width set to 0 for animation -->
        </div>
      </div>
      <!--commande-->
      <div class="level-test">
        <i class="fa-solid fa-angles-right fa-2x fa-rotate-180" (click)="previousChoiceLevel()"></i>
        <span>{{levelChoices[index].option}}</span>
        <i class="fa-solid fa-angles-right fa-2x" (click)="nextChoiceLevel()"></i>
      </div>
    </div>
    <!--DividerSection-->
    <div class="divider-section">
        <span class="iconify" data-icon="gis:union" data-inline="false">
        </span>
    </div>
  </section>
  <!--Section softSkills-->
  <section class="soft-skills-section">
    <div class="section-title">
      <h2>Soft Skills</h2>
      <i class="fa-solid fa-users-gear fa-2x me-3 me-0"></i>
    </div>
    <div class="soft-skills">
      @for (skill of softSkillsList; track skill.title){
        <app-soft-skill (click)="openModal(skill.title,skill.description)" [skill]="skill"/>
          }
    </div>
  </section>
</div>

<!--Modal-->
<app-modal [title]="modalTitle" [content]="modalContent"/>



