<app-header/>

<!--Coordonnées-->
  <div class="toggle-button indexZ1" (click)="toggleSidebar($event)">
    <span class="iconify" data-icon="icon-park-solid:me" data-inline="false"></span>
    <span *ngIf="showSidebar" class="pe-4">Contactez-moi !</span>
    <div *ngIf="showSidebar" class="sidebar ">
      <app-sidebar></app-sidebar>
    </div>
  </div>

<router-outlet class="indexZ0"/>

<!--ScrollUpButton-->
<div class="scrollInit indexZ1">
  <i class=" fa-regular fa-circle-up fa-2x" (click)="scrollUp()"></i>
</div>

<app-footer />





