<div class="main-title">
  <h1>Bienvenue sur mon Portfolio !</h1>
</div>
<div class="backgroundPitch position-relative">
  <div class="textPitch">
    <h3>Développeur Full Stack</h3>
    <p>
      Passionné par le développement, j'ai choisi de réorienter ma
      carrière pour m'épanouir pleinement dans ce domaine en constante
      évolution. J'ai acquis des compétences solides à travers des projets personnels
      et des formations spécialisées, ce qui m'a permis de développer une compréhension
      approfondie des technologies actuelles.
    </p>
  </div>
</div>
<app-card-list/>

