.work-experience-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-experience{
  margin-top: 10px;
  margin-right: 10vw;
  padding: 5px;
  width: 50vw;
  background-color: var(--color_4);
  border-radius: 25px;
  transition: transform 0.3s, box-shadow 0.3s;

}

.work-experience:hover{
  transform: translateY(-10px);
}

.pair{
  margin-left: 15vw;
  background-color: var(--color_1);

  .card-work{
  background-color: var(--color_4);
  }
  .card-work-image{
  border-right: 2px solid var(--color_1);
  }

}
.card-work{
  color: var(--color_5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  background-color: var(--color_1);
}

.card-work-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  h4{
    font-size: 1.2rem;
    font-weight: 700;
  }
  span{
    font-style: italic;
  }
}

.card-work-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  padding: 0 10px 10px 10px;
  span{
    font-style: italic;
  }
}

.card-work-image{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 0;
  margin-right: 10px;
  border-right: 2px solid var(--color_4);
  width: 30%;
  height: 100%;
  img{
    max-width: 11rem;
    max-height: 11rem;
  }
}

.card-work-footer{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 5px;
  margin: 10px 10px 10px;
  font-style: italic;


}

.task {
  list-style: none;
  padding: 0 5px 0 0;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
}

.task li {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 10px;
  padding-bottom: 0;
  padding-top: 10px;
  span{
    padding: 5px;
  }
}

.custom-bullet {
  width: 8px;
  height: 8px;
  background-color: var(--color_5);
  border-radius: 50%;
  margin-right: 10px;
}

.custom-list li span.task {
  display: inline-block;
}


/*****************Responsive***********************/
@media (max-width: 1200px){
  .work-experience {
    width: 75vw;
  }
}

@media (max-width: 768px){
  .work-experience {
    width: 90vw;
    margin: 0 auto 10px auto;
  }
}

@media (max-width: 668px) {
  .work-experience {
    text-align: left;
  }
  .card-work-image{
    display: none;
  }
  .card-work-title{
    flex-direction: column;
  }
  .card-work-footer{
    flex-direction: column;
    align-items: end;
  }
}
