<div class="container">
  <a [routerLink]="card.hrefUrl">
    <div class="card">
      <div class="card-header">
        <img [src]=card.urlCardPicture [alt]=card.title />
      </div>
      <div class="card-body">
        <h4>{{card.title}}</h4>
        <p>{{card.description}}</p>
      </div>
      @if(card.programingLanguages !== undefined){
        <div class="cardFooter">
          <div class="language" *ngFor="let programingLanguage of card.programingLanguages">
            <span class="iconify" [attr.data-icon]="programingLanguage.logoUrl" data-inline="false" style="width: 2rem; height: 2rem;"></span>
            <span class="">{{ programingLanguage.name }}</span>
          </div>
        </div>
      }
    </div>
  </a>
</div>
