.section-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding :  20px 0 10px 10px;
  vertical-align: middle;
  color: var(--color_2);
}

.hard-skills-section,
.soft-skills-section{
  border-right: 2px solid var(--color_3);
  border-left: 2px solid var(--color_3);
  margin: auto;
}
.hard-skills-section{
  width: 50vw;
  position: relative;
  background:  var(--color_4);
  border-radius: 20px 20px 0 0;
  border-top: 2px solid var(--color_3);
  padding-bottom: 50px;
}
.divider-section {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 6.5rem;
  background:  var(--color_4);
  border-radius: 100%;
  z-index: 2;
  .iconify{
    color: var(--color_2);
    width: 3.5rem;
    height: 3.5rem;
  }
}
.soft-skills-section{
  width: 50vw;
  background:  var(--color_4);
  background: var(--color_1);
  border-radius: 0 0 20px 20px ;
  border-bottom: 2px solid var(--color_3);
}

.soft-skills{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}


.test-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color_2);
  padding-top: 10px;
  margin: 20px auto;
  vertical-align: middle;
  border-top : 2px solid white;
  width: 40%;
  h2{
    text-align: center;
  }
}

.level-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: var(--color_2);
  padding-top: 10px;
  margin: 20px auto;
  border-top : 2px solid white;
  width: 75%;
  i{
    margin-right: 10px ;
  }
}
.level-test {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--color_2);
  width: 100%;
  margin: auto;
  i{
    display: block;
    cursor: pointer;
    width: 10%;
  }
  span{
    display: inline-block;
    text-align: center;
    width: 80%;
  }
}
.progress-bar {
  border-radius: 20px;
  transition: width 1s ease-in-out;
  background-color: var(--color_6);
  margin-left: -5px;
  width: 0;
}
.progress {
  height: 10px;
  border-radius: 20px;
  margin-bottom: 20px;

}


@media (max-width: 1200px ){
  .hard-skills-section,
  .soft-skills-section{
    width: 75vw;
  }
  .level-test{
    width: 80%;
  }
}

@media (max-width: 768px )
{
  .hard-skills-section,
  .soft-skills-section{
    width: 90vw;
  }
}
@media (max-width: 480px )
{
  .level-test{
    width: 100%;
  }
  .test-section{
    width: 60%;
  }
  .hard-skills-section{
    padding-bottom: 20px;
  }
  .divider-section {
    width: 3.5rem;
    height: 3.5rem;
    .iconify{
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}







