<h1><span>Atouts et compétences</span></h1>

<div class="pitchSection">
  <p>Dans cette section, je vous présente les différentes technologies que j'ai eu l'occasion d'utiliser au cours des divers projets que j'ai menés.</p>
  <ul>
    <li><span>Côté front :</span></li>
    <ul>
      <li>Je suis à l'aise avec les langages <span>HTML</span> et <span>CSS</span>, qui sont à la base de tout développement web.</li>
      <li>La maîtrise du <span>JavaScript</span> et de son cousin typé, <span>TypeScript</span>, fait également partie de mes compétences.</li>
    </ul>
    <li><span>Côté back :</span></li>
    <ul>
      <li>Le <span>Java</span> a été mon premier amour en développement, c'est le langage avec lequel j'ai fait mes débuts.</li>
      <li>J'ai également une grande aisance avec le <span>PHP</span>, le deuxième langage majeur sur lequel j'ai été formé.</li>
    </ul>
    <li>Je maîtrise les concepts fondamentaux de la Programmation Orientée Objet (<span>POO</span>) ainsi que le modèle architectural Modèle-Vue-Contrôleur (<span>MVC</span>).</li>
    <li>Les notions de <span>modularité</span>, de <span>factorisation</span>, des <span>bonnes pratiques</span> et de <span>simplicité</span> sont les principes qui guident chacune de mes réalisations.</li>
  </ul>

</div>
<div class="dividerTitle"></div>
<div class="dividerTitle w-25"></div>
<!--section hardSkills-->
<section class="container hardSkillsSection w-50" >
  <div class="mainTitle">
    <h2>Technical Skills</h2>
    <i class="fa-solid fa-code fa-2x me-3 "></i>
  </div>
  <div class="container">
    <app-hard-skill
      [skillsList] = "languageSkills"
      [section]="{title : 'Languages', logo : 'fa-solid fa-globe fa-2x'}"
      />
    <app-hard-skill
      [skillsList] = "frameworkList"
      [section]="{title : 'Frameworks', logo : 'fa-solid fa-book-atlas fa-2x'}"
    />
    <app-hard-skill
      [skillsList] = "otherList"
      [section]="{title : 'Others', logo : 'fa-solid fa-cubes fa-2x'}"
    />
  </div>
  <!--section testLevel-->
  <div class="testSection">
    <div class="secondTitle">
      <i class="fa-solid fa-circle-question fa-2x"></i>
      <h2>Level</h2>
    </div>
  <!--jauge-->
    <div class="container d-flex flex-column align-items-center">
          <div class="container w-50">
              <div class="progress skill-bar">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [style.width.%]="levelChoices[index].purcent"> <!-- Initial width set to 0 for animation -->
                </div>
              </div>
          </div>
    </div>
    <!--commande-->
    <div class="container">
      <div class="row">
        <div class="levelTest">
          <i class="fa-solid fa-angles-right fa-2x fa-rotate-180" (click)="previousChoiceLevel()"></i>
          <p>{{levelChoices[index].option}}</p>
          <i class="fa-solid fa-angles-right fa-2x" (click)="nextChoiceLevel()"></i>
        </div>
      </div>
    </div>
  </div>
  <!--DividerSection-->
  <div class="dividerSection">
      <span class="iconify" data-icon="gis:union" data-inline="false"
            style="color: var(--color_2); width: 3.5rem; height: 3.5rem;">
      </span>
  </div>
</section>
<!--Section softSkills-->
<section class="container softSkillsSection w-50">
  <div class=" mainTitle">
    <h2>Soft Skills</h2>
    <i class="fa-solid fa-users-gear fa-2x me-3 me-0"></i>
  </div>
  <div class="d-flex flex-row justify-content-center flex-wrap">
    @for (skill of softSkillsList; track skill.title){
      <app-soft-skill (click)="openModal(skill.title,skill.description)" class="m-3" [skill]="skill"/>
    }
  </div>
</section>
<app-modal
  [title]="modalTitle"
  [content]="modalContent"/>



