h1{
  text-align: center;
  margin: 30px 0 30px 0;
  font-size: 50px;
  font-weight: 600;
  color: var(--color_4);
}


.sectionMainTitle{

backdrop-filter: blur(30px);
-webkit-backdrop-filter: blur(30px);
  width: 50%;
}

.mainTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin :  20px 0 10px 10px;
  vertical-align: middle;
  color: var(--color_2);
}

.secondTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: var(--color_2);
  padding-top: 10px;
  margin: 20px auto;
  border-top : 2px solid white;
  width: 75%;
  i{
    margin-right: 10px ;
  }
}

.softSkillsSection ,
.hardSkillsSection{
  padding-bottom: 50px;
  padding-top: 10px ;
  min-height: 50vh;
  box-shadow:
    -2px 0 5px rgba(0, 0, 0, 0.1),
    2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 2px solid var(--color_3);
  border-left: 2px solid var(--color_3);
}

.softSkillsSection {
  background: var(--color_1);
  border-radius: 0 0 20px 20px ;
  border-bottom: 2px solid var(--color_3);

}
.hardSkillsSection{
  position: relative;
  background:  var(--color_4);
  border-radius: 20px 20px 0 0;
  border-top: 2px solid var(--color_3);
}
.skillsName{
  position: relative;
  color: var(--color_2);
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;

}

.testSection{
  color: var(--color_2);
  padding-top: 10px;
  margin: 20px auto;
  vertical-align: middle;
  border-top : 2px solid white;
  width: 75%;
  h2{
    text-align: center;
  }
}
.dividerSection {

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 6.5rem;
  background:  var(--color_4);
  border-radius: 100%;
  z-index: 2;


}
.levelTest {
  position: relative;
  display: flex;
  align-items: center; /* Center items vertically */
  color: var(--color_2);
  justify-content: space-between;
  width: 50%;
  margin: 10px auto auto;

  i{
    flex: 0 0 auto; /* Ensure icons don’t grow or shrink */
    cursor: pointer;
  }
  p{
    margin: 0;
    text-align: center; /* Center text horizontally */
  }
}
.progress-bar {
  text-align: left;
  border-radius: 20px;
  transition: width 1s ease-in-out; /* Ensure transition is set */
  background-color: var(--color_3);
  margin-left: -5px;
  width: 0;
}
.progress {
  height: 10px;
  border-radius: 20px;
  margin-bottom: 20px;

}










