h1{
  text-align: center;
  margin: 30px 0 30px 0;
  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to right, var(--blue_1), var(--green_1));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.dividerTitle {
  height: 2px;
  width: 50vw;
  margin: 0 auto 50px;
  background: linear-gradient(to left, var(--color_2), var(--green_5));
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.mainTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin :  20px 0 10px 10px;
  vertical-align: middle;
  color: white;
}

.secondTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: white;
  padding-top: 10px;
  margin: 20px auto;
  border-top : 2px solid white;
  width: 75%;
  i{
    margin-right: 10px ;
  }
}

.softSkillsSection ,
.hardSkillsSection{
  padding-bottom: 50px;
  padding-top: 10px ;
  min-height: 50vh;
  box-shadow:
    -2px 0 5px rgba(0, 0, 0, 0.1),
    2px 0 5px rgba(0, 0, 0, 0.1);
}

.softSkillsSection {
  background: var(--color_4);
  border-radius: 0 0 20px 20px ;

}
.hardSkillsSection{
  position: relative;
  background:  var(--color_1);
  border-radius: 20px 20px 0 0;
}
.skillsName{
  position: relative;
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;

}

.testSection{
  color: white;
  padding-top: 10px;
  margin: 20px auto;
  vertical-align: middle;
  border-top : 2px solid white;
  width: 75%;
  h2{
    text-align: center;
  }
}
.dividerSection {

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 6.5rem;
  background:  var(--color_1);
  border-radius: 100%;
  z-index: 999999;


}
.levelTest {
  position: relative;
  display: flex;
  align-items: center; /* Center items vertically */
  color: white;
  justify-content: space-between;
  width: 50%;
  margin: auto;

  i{
    flex: 0 0 auto; /* Ensure icons don’t grow or shrink */
    cursor: pointer;
  }
  p{
    margin: 0;
    text-align: center; /* Center text horizontally */
  }
}



.progress {
  height: 20px;
  border-radius: 20px;
  margin-bottom: 20px;

}

.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;

}

.progress-bar {
  text-align: left;
  border-radius: 20px;
  transition: width 1s ease-in-out; /* Ensure transition is set */
  background-color: var(--color_4);
  margin-left: -5px ;
  width: 0; /* Initial width set to 0 for animation */



}








