
<h1><span>Atouts et compétences</span></h1>
<div class="dividerTitle"></div>

<p>
  Dans une première partie de cette section, sont listées les différentes technologies que j'ai pu utiliser dans le cadre des différents projets que j'ai mené.
  Côté front, le <span>html</span> et le <span>css</span> sont des languages informatique avec lesquelles je suis à l'aise. Utiliser le <span>JavaScript</span> et le <span>TypeScript</span> ,ne me pose aucune difficultés
  Côté back, j'ai fait beaucoup de <span>Java</span> dans la mesure ou c'est avec ce language que j'ai appris le développement. Le <span>php</span> est également un language avec lequel je suis à l'aise, car il s'agit du deuxième language prodominant sur lequel j'ai été formé et que j'ai utilisé pendant mon stage de fin de formation.
  Je maîtrise Les conceptes fondamentaux de Programmation Orienté Objet (<span>POO</span>) et le modèle architectural Modèle Vue Contrôleur (<span>MVC</span>).
  La <span>modularité</span>,la <span>factorisation</span>, les <span>bonnes pratiques</span> et la <span>simplicité</span>, sont les notions qui me guident dans chacunes de mes réalisations.

</p>
<!--section hardSkills-->
<section class="container hardSkillsSection w-50" >
  <div class="mainTitle">
    <h2>Technical Skills</h2>
    <i class="fa-solid fa-code fa-2x me-3 "></i>
  </div>
  <div class="container">
    <app-skill
      [skillsList] = "languageSkills"
      [section]="{title : 'Language', logo : 'fa-solid fa-globe fa-2x'}"
      />
    <app-skill
      [skillsList] = "frameworkList"
      [section]="{title : 'Framworks', logo : 'fa-solid fa-book-atlas fa-2x'}"
    />
  </div>
  <!--section testLevel-->
  <div class="testSection">
    <div class="secondTitle">
      <i class="fa-solid fa-circle-question fa-2x"></i>
      <h2>Level</h2>
    </div>
  <!--jauge-->
    <div class="container d-flex flex-column align-items-center">
          <div class="container w-50">
              <div class="progress skill-bar">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [style.width.%]="levelChoices[index].purcent"> <!-- Initial width set to 0 for animation -->
                </div>
              </div>
          </div>
    </div>
    <!--commande-->
    <div class="container">
      <div class="row">
        <div class="levelTest">
          <i class="fa-solid fa-angles-right fa-2x fa-rotate-180" (click)="previousChoiceLevel()"></i>
          <p>{{levelChoices[index].option}}</p>
          <i class="fa-solid fa-angles-right fa-2x" (click)="nextChoiceLevel()"></i>
        </div>
      </div>
    </div>
  </div>
  <!--DividerSection-->
  <div class="dividerSection">
      <span class="iconify" data-icon="gis:union" data-inline="false"
            style="color: var(--color_2); width: 3.5rem; height: 3.5rem;">
      </span>
  </div>
</section>
<!--Section softSkills-->
<section class="container softSkillsSection w-50">
  <div class=" mainTitle">
    <h2>Soft Skills</h2>
    <i class="fa-solid fa-users-gear fa-2x me-3 me-0"></i>
  </div>
  <div class="d-flex flex-row justify-content-center flex-wrap">
    @for (skill of softSkillsList; track skill.title){
      <app-soft-skill class="m-3" [skill]="skill"/>
    }
  </div>
</section>


