.flip-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 180px;
  height: 120px;
  margin: 10px;
}

.flip-card :hover{
  cursor: pointer;
}

.flip-card-inner  {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  box-shadow:
    12.5px 12.5px 10px rgba(0, 0, 0, 0.061),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}


.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color_3);
  border: 2px solid var(--color_1);
  color: var(--color_2);
  cite{
    font-size: 0.7rem;
  }
}

.flip-card-back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--color_1);
  border: 2px solid var(--color_3);
  color: var(--color_2);
  font-size: 0.8rem;
  transform: rotateY(180deg);
  p{
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
  }
}

/***************Responsive*******************/
@media (max-width: 500px ){
  .flip-card-front {
    cite{
      display: none;
    }
  }
  .flip-card {
    height: 50px;
    width: 100px;
    font-size: 0.7rem;
  }

  .flip-card-back {
    font-size: 0.5rem;
  }

}











