.header-summary:hover{
  cursor: pointer;
}
.summary{
  position: sticky;
  float: left;
  margin-right: -500px;
  top: 145px;
  left : 0;
  width: 160px;
  padding: 10px;

}

.header-summary{
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .iconify{
    width: 2.0rem;
    height: 2.0rem;
  }
  span{
    display: block;
  }
}

.body-summary{
  padding-top: 15px;
  div{
    margin: auto auto 20px;
  }

  a{
    display: block;
    margin-bottom: 20px;
    font-size: 0.9rem;
  }
}
.infoProject{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color_4);
  padding: 20px;
}
.languageProject{
  display: flex;
  align-items: center;
  flex-direction: row;
  .iconify{
    width: 2rem;
    height: 2rem;
  }
  span{
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.file {
  display: inline-block;
  background-color: var(--color_6);
  color: var(--color_4);
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  margin: auto;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.file:hover {
  background-color: var(--color_2);
  color: var(--color_6);
}

.demo-project{
  video{
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow:
      12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
      100px 100px 80px rgba(0, 0, 0, 0.07);
  }
}

/*****************Responsive***********************/

@media (max-width: 1200px) {
  .summary{
    width: 60px;
    border-radius: 0 20px 20px 0;
    border: none;
  }
  .header-summary {
    span{
      display: none;
    }
    .iconify {
      width: 1.7rem;
      height: 1.7rem;
    }
  }
  .body-summary{
    width: 200px;
    background-color: var(--color_1);
    padding: 20px;
    border-radius: 0 20px 20px 0;
    margin-bottom: -10px;
    border-right: 4px double var(--color_4);
    border-bottom: 4px double var(--color_4);
  }

}
@media (max-width: 768px){
  .summary {
    position: fixed;
    top: 140px;
    left: 0;
  }
  .infoProject {
    flex-direction: column;
    align-items: center;

    .languageProject {
      font-size: 1.2rem;
      margin-bottom: 10px;
      span{
        margin-left: 5px;
      }
    }
    .iconify {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

@media (max-width: 480px) {
  .infoProject {
    .languageProject {
      font-size: 0.8rem;
    }

    .iconify {
      width: 1rem;
      height: 1rem;
    }
  }

  .summary {
    top: 90px;
  }
}
