<h1>Qui suis-je</h1>
<div class="pitchSection">
  <p>
    Je m'appelle Louis-Philippe, et je suis développeur informatique
    à la suite d'une reconversion professionnelle. Dans les sections suivantes,
    je vous présenterai mon <strong>expérience professionnelle passée</strong>,
    les raisons de cette <strong>reconversion</strong> et enfin mes aspirations pour <strong>l'avenir</strong>.
  </p>
</div>

<div class="dividerTitle"></div>
<div class="dividerTitle w-25"></div>

<div class="pitchSection">
  <h2>La métrologie : La science de la mesure</h2>
  <p>
    Pendant plus de dix ans, j'ai occupé le poste de <strong>responsable essai et métrologie</strong>,
    où j'avais la responsabilité de maintenir opérationnel l'ensemble du parc d'instruments de mesure
    de l'entreprise, ainsi que de tester ces appareils dans des conditions extrêmes.
  </p>
  <ul>
    <li>Mon rôle de métrologue impliquait, entre autres :</li>
    <ul>
      <li><strong>Gestion de projet</strong> pour développer des appareils répondant aux <strong>besoins des clients</strong>.</li>
      <li>Rédaction de <strong>documents techniques</strong> sur l'utilisation et la fiabilité des équipements.</li>
      <li>Gestion du parc d'instruments de mesure.</li>
    </ul>
    <li>Mon rôle de responsable essais impliquait, entre autres :</li>
    <ul>
      <li><strong>Création</strong> et mise en œuvre de protocoles d'essais.</li>
      <li>Mise en place et <strong>réalisation</strong> des essais.</li>
      <li>Rédaction, gestion et diffusion de <strong>comptes rendus d'essais</strong>.</li>
    </ul>
  </ul>
</div>

<div class="dividerTitle w-25"></div>

<div class="pitchSection">
  <h2>L'informatique : Un choix sans détour</h2>
  <p>
    Passionné par l'informatique depuis toujours, j'ai découvert un réel intérêt pour la
    programmation lors de mon initiation au <strong>C++</strong> pendant mon DUT. Bien que le
    DUT Mesures physiques se concentrait principalement sur les sciences physiques et chimiques,
    un domaine que j'appréciais également, mon intérêt pour l'informatique est resté constant.
  </p>
  <ul>
    <li>Le moment était venu de changer de cap :</li>
    <ul>
      <li>J'avais l'impression d'avoir fait le tour de ma profession. Je trouvais plus de satisfaction
        à <strong>créer des bases de données et des interfaces</strong> pour la métrologie qu'à
        accomplir les tâches classiques de cette fonction.</li>
      <li>Mon intérêt pour la programmation n'ayant jamais faibli, j'ai entrepris
        une reconversion professionnelle pour en faire mon métier.</li>
      <li>Cette transition a été compliquée au début :</li>
      <ul>
        <li>Absence de formation disponible,</li>
        <li>Manque de financement,</li>
        <li>Difficulté à trouver une entreprise pour une alternance, etc.</li>
      </ul>
      <li>Aujourd'hui, je suis <strong>diplômé</strong>, <strong>opérationnel</strong>, et avide d'<strong>apprendre</strong> toujours plus.</li>
    </ul>
  </ul>
</div>

<div class="dividerTitle w-25"></div>

<div class="pitchSection">
  <h2>L'épilogue : La dernière pièce du puzzle</h2>
  <p>
    Maintenant, je suis tourné vers l'avenir et l'aboutissement de ce
    projet de reconversion. Après tout ce que j'ai traversé, je suis déterminé à
    mener à bien ce que j'ai commencé. Mais de quelle manière ?
  </p>
  <ul>
    <li>Je recherche un poste en CDI/CDD :</li>
    <ul>
      <li>Je souhaite intégrer une entreprise afin de <strong>continuer mon
        apprentissage</strong> auprès de professionnels expérimentés.</li>
      <li>Avec mes nouvelles <strong>compétences</strong> en développement, mes
        qualités et mon <strong>expérience</strong> en gestion de projet et organisation, j'ai beaucoup à apporter à une équipe.</li>
      <li>Je suis flexible quant aux modalités de travail : <strong>présentiel</strong>,
        <strong>hybride</strong> ou <strong>full remote</strong>, je m'adapte facilement.</li>
    </ul>
    <li>Je recherche un poste en alternance :</li>
    <ul>
      <li>L'alternance me permettrait de progresser plus rapidement. Mon objectif reste avant tout d'apprendre constamment.</li>
      <li>J'ai déjà réussi tous les tests requis auprès de l'organisme de formation <strong>CEFIM</strong> pour poursuivre mon apprentissage en tant que <strong>Concepteur Développeur d'Applications</strong> ( <a href="assets/documents/FM_CDA2024-2025.pdf" target="_blank">CDA</a> ).</li>
      <li>Un contrat d'alternance axé sur le PHP ou le Java, mais adapté aux besoins de l'entreprise.</li>
    </ul>
  </ul>
</div>
