<h1>Qui suis-je</h1>
<div class="pitchSection">
  <p>
    Je m'appelle Louis-Philippe, et je suis développeur informatique
    à la suite d'une reconversion professionnelle. Dans les sections suivantes,
    je vous présenterai mon <span>expérience professionnelle passée</span>,
    les raisons de cette <span>reconversion</span> et enfin mes aspirations pour <span>l'avenir</span>.
  </p>
</div>

<div class="dividerTitle"></div>
<div class="dividerTitle w-25"></div>

<div class="pitchSection">
  <h2>La métrologie : La science de la mesure</h2>
  <p>
    Pendant plus de dix ans, j'ai occupé le poste de <span>responsable essai et métrologie</span>,
    où j'avais la responsabilité de maintenir opérationnel l'ensemble du parc d'instruments de mesure
    de l'entreprise, ainsi que de tester ces appareils dans des conditions extrêmes.
  </p>
  <ul>
    <li>Mon rôle de métrologue impliquait, entre autres :</li>
    <ul>
      <li><span>Gestion de projet</span> pour développer des appareils répondant aux <span>besoins des clients</span>.</li>
      <li>Rédaction de <span>documents techniques</span> sur l'utilisation et la fiabilité des équipements.</li>
      <li>Gestion du parc d'instruments de mesure.</li>
    </ul>
    <li>Mon rôle de responsable essais impliquait, entre autres :</li>
    <ul>
      <li><span>Création</span> et mise en œuvre de protocoles d'essais.</li>
      <li>Mise en place et <span>réalisation</span> des essais.</li>
      <li>Rédaction, gestion et diffusion de <span>comptes rendus d'essais</span>.</li>
    </ul>
  </ul>
</div>

<div class="dividerTitle w-25"></div>

<div class="pitchSection">
  <h2>L'informatique : Un choix sans détour</h2>
  <p>
    Passionné par l'informatique depuis toujours, j'ai découvert un réel intérêt pour la
    programmation lors de mon initiation au <span>C++</span> pendant mon DUT. Bien que le
    DUT Mesures physiques se concentrait principalement sur les sciences physiques et chimiques,
    un domaine que j'appréciais également, mon intérêt pour l'informatique est resté constant.
  </p>
  <ul>
    <li>Le moment était venu de changer de cap :</li>
    <ul>
      <li>J'avais l'impression d'avoir fait le tour de ma profession. Je trouvais plus de satisfaction
        à <span>créer des bases de données et des interfaces</span> pour la métrologie qu'à
        accomplir les tâches classiques de cette fonction.</li>
      <li>Mon intérêt pour la programmation n'ayant jamais faibli, j'ai entrepris
        une reconversion professionnelle pour en faire mon métier.</li>
      <li>Cette transition a été compliquée au début :</li>
      <ul>
        <li>Absence de formation disponible,</li>
        <li>Manque de financement,</li>
        <li>Difficulté à trouver une entreprise pour une alternance, etc.</li>
      </ul>
      <li>Aujourd'hui, je suis <span>diplômé</span>, <span>opérationnel</span>, et avide d'<span>apprendre</span> toujours plus.</li>
    </ul>
  </ul>
</div>

<div class="dividerTitle w-25"></div>

<div class="pitchSection">
  <h2>L'épilogue : La dernière pièce du puzzle</h2>
  <p>
    Maintenant, je suis tourné vers l'avenir et l'aboutissement de ce
    projet de reconversion. Après tout ce que j'ai traversé, je suis déterminé à
    mener à bien ce que j'ai commencé. Mais de quelle manière ?
  </p>
  <ul>
    <li>Je recherche un poste en CDI/CDD :</li>
    <ul>
      <li>Je souhaite intégrer une entreprise afin de <span>continuer mon
        apprentissage</span> auprès de professionnels expérimentés.</li>
      <li>Avec mes nouvelles <span>compétences</span> en développement, mes
        qualités et mon <span>expérience</span> en gestion de projet et organisation, j'ai beaucoup à apporter à une équipe.</li>
      <li>Je suis flexible quant aux modalités de travail : <span>présentiel</span>,
        <span>hybride</span> ou <span>full remote</span>, je m'adapte facilement.</li>
    </ul>
    <li>Je recherche un poste en alternance :</li>
    <ul>
      <li>L'alternance me permettrait de progresser plus rapidement. Mon objectif reste avant tout d'apprendre constamment.</li>
      <li>J'ai déjà réussi tous les tests requis auprès de l'organisme de formation CEFIM pour poursuivre mon apprentissage en tant que <span>Concepteur Développeur d'Applications</span> ( <a href="assets/documents/FM_CDA2024-2025.pdf" target="_blank">CDA</a> ).</li>
      <li>Un contrat d'alternance axé sur le PHP ou le Java, mais adapté aux besoins de l'entreprise.</li>
    </ul>
  </ul>
</div>
