h1{
  text-align: center;
  margin: 30px 0 30px 0;
  font-size: 50px;
  font-weight: 600;
  color: var(--color_4);
}


.header-summary:hover{
  cursor: pointer;
}
.nav-section{
  position: sticky;
  float: left;
  margin-right: -500px;
  top: 50px;
  left : 20px;
  width: 12vw;

}

.header-summary{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  span{
    display: block;
  }
}

.body-summary{
  padding-top: 15px;
  div{
    margin : auto;
    margin-bottom: 20px;
  }

  a{
    display: block;
    margin-bottom: 20px;
    font-size: 0.9rem;
  }
}


.infoProject{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: var(--color_4);
  padding: 20px;
}
.languageProject{
  display: flex;
  flex-direction: row;
  span{
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.file {
  display: inline-block;
  background-color: var(--color_6);
  color: var(--color_4);
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  margin: auto;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.file:hover {
  background-color: var(--color_2);
  color: var(--color_6);
}
