<div *ngIf="project">

  <nav class="nav-section pitchSection">
    <div class="sommaireToggle">
      <div class="header-summary" (click)="toggleSummary()">
        <span>Sommaire</span>
        <span class="iconify" data-icon="ph:arrow-fat-line-down-fill" data-inline="false" style="width: 2rem; height: 2rem;"></span>
      </div>

    </div>
    @if (showSummary){
      <div class="body-summary">
        <div class="dividerTitle w-100"></div>
        <a href="#section1" class="anchor-link">Description du projet</a>
        <a href="#section2" class="anchor-link">Spécifications</a>
        <a href="#section3" class="anchor-link">Déroulement du projet</a>
        <a href="#section4" class="anchor-link">Résultats obtenus</a>
      </div>
    }
  </nav>
  <h1>{{ project.title }} </h1>
  <div class="infoProject">
    <div class="languageProject">
      <div  *ngFor="let language of project.card.languages">
        <span class="iconify" [attr.data-icon]="language.logo" data-inline="false" style="width: 2rem; height: 2rem;"></span>
        <span>{{ language.name }}</span>
      </div>
    </div>
    <div>
      <em>{{ project.date }}</em>
    </div>
  </div>
  <div class="dividerTitle"></div>
  <div class="dividerTitle w-25"></div>
  <div class="pitchSection">
    <h3 id="section1">Description du projet</h3>
    <p [innerHTML]="project.description| parseText">
    </p>
  </div>
  <div class="dividerTitle w-25"></div>
  <div class="pitchSection">
    <h3 id="section2">Fonctionnalités implémentées</h3>
    <div [innerHTML]="project.features| parseText"></div>
  </div>
  <div class="dividerTitle w-25"></div>
  <div class="pitchSection">
    <h3 id="section3">Déroulement du projet</h3>
    <div [innerHTML]="project.progress| parseText"></div>
  </div>
 <div class="dividerTitle w-25"></div>
  <div class="pitchSection">
    <h3 id="section4">Résultats obtenus</h3>
    <div [innerHTML]="project.result| parseText"></div>

    @if(project.id === 1) {
      <div class="button-container">
        <a class="file" href="assets/documents/Recommandation.pdf" target="_blank">
          <strong>Lettre de recommandation</strong>
        </a>
      </div>
    }
</div>
</div>
