.card-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*****************Responsive***********************/
@media (max-width: 689px) {
  .card-section {
    justify-content: center;
  }

}
