.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin: auto;

}
.header-title{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem ;
  text-decoration: none;
  color: var(--color_1);
  .iconify{
    margin-right: 10px;
    width: 2rem;
    height: 2em;
  }
}
.header-title-small-screen{
  display: none;
}

.small-screen-menu-content{
  position: absolute;
  width: 300px;
  top: 60px;
  left: 15%;
  background-color: var(--color_6);
  border-radius:0 0 20px 20px;
  list-style-type: none;
  z-index: 99;
  li{
    margin: 20px;
  }
  .iconify{
    width: 2rem;
    height: 2rem;
  }
}
.small-screen-menu{
  display: none;
  .iconify{
    display: inline-block;
    margin-right: 10px;
  }
}
.small-screen-menu:hover{
  cursor: pointer;
}

/*****************Responsive***********************/

@media (max-width: 826px){
  .small-screen-menu-content{
    left: 40%;
  }
  .small-screen-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    .iconify{
      display: inline-block;
      margin-left: 20px ;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  ul.nav{
    display: none;
  }
  .social-link{
    width: 200px;
  }
}
@media (max-width: 480px ) {
  .small-screen-menu-content{
    left: 15%;
  }
  .header{
    flex-direction: row-reverse;
  }
  .header-title{
    padding-bottom: 10px;
    margin-top: -10px;
    font-size: 1rem;
    .iconify{
      width: 1rem;
    }
  }
  .social-link{
    position: absolute;
    top: 38px;
    right: 1px;
    width: 100px;
  }
  .header-title-small-screen{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 50px;
  }
}


