<h1>Mes projets</h1>
<!--<div class="dividerTitle"></div>-->

  <div class="pitchSection">
    <p>Voici un aperçu de quelques <span>projets</span> que j'ai eu l'occasion de réaliser.</p>
    <p>
      Qu'il s'agisse de projets menés en <span>solo</span> ou en <span>équipe</span>, dans le cadre de ma formation ou sur mon temps libre, chacun d'entre eux reflète ma passion pour le développement et mon engagement à <span>aller toujours plus loin</span>.
    </p>
  </div>
<div class="dividerTitle"></div>
  <div class="dividerTitle w-25"></div>
<app-card-list/>
