.secondTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: white;
  padding-top: 10px;
  margin: 20px auto;
  border-top : 2px solid white;
  width: 75%;
  i{
    margin-right: 10px ;
  }
}

.hardSkillsSection{
  padding-bottom: 50px;
  padding-top: 10px ;
  min-height: 50vh;
  box-shadow:
    -2px 0 5px rgba(0, 0, 0, 0.1),
    2px 0 5px rgba(0, 0, 0, 0.1);
}

.hardSkillsSection{
  position: relative;
  background:  var(--color_1);
  border-radius: 20px 20px 0 0;
}
.skillsName{
  position: relative;
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;

}
.progress {
  height: 10px;
  border-radius: 20px;
  margin-bottom: 20px;

}


.progress-bar {
  text-align: left;
  border-radius: 20px;
  transition: width 1s ease-in-out; /* Ensure transition is set */
  background-color: var(--color_4);
  margin-left: -5px ;
  width: 0; /* Initial width set to 0 for animation */



}








